# 日志文件
logs/
*.log
*.txt

*.tmp
*.temp
*.cache
.DS_Store
Thumbs.db

# 编辑器和IDE文件
.vscode/
.idea/

# 系统文件
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini


.Python
env/
venv/

# 大文件和二进制资源
lib/frida-server-*
*.apk
*.dex
build/